<app-sales-btn></app-sales-btn>
<div class="principal-container pt-4">
    <table class="sales-list" [cellPadding]="0" [cellSpacing]="0">
        <thead class="sales-list__head">
            <tr>
                <th scope="col">Hora de la Venta</th>
                <th scope="col">Precio</th>
            </tr>
        </thead>
        <tbody class="sales-list__body">
            @for (products of totals$ | async; track $index) {
            <tr>
                <th scope="row" class="sales-list__time">
                    <li>{{products.timestamp}}</li>
                    <button (click)="deleteTotal(products.id, products.total, products.payment)">
                        <i class="bi bi-x"></i>
                    </button>
                </th>
                <td class="sales-list__price" 
                    [class.outflow]="products.payment === 'outflow'"
                    [class.transfer]="products.payment === 'transfer'"
                    [class.trusted]="products.payment === 'trusted'">
                    {{products.total}}
                </td>
            </tr>
            }
        </tbody>
        <tfoot class="sales-list__foot">
            <tr class="sales-list__total">
                <th scope="row">Total Bruto: ${{salesSummary$}}</th>
            </tr>
            @if (transferSummary$) {
                <tr class="sales-list__tr transfer">
                    <th scope="row">Transferencias: ${{transferSummary$}}</th>
                </tr>
            }
            @if (trustedSummary$) {
                <tr class="sales-list__tr trusted">
                    <th scope="row">Fiado: ${{trustedSummary$}}</th>
                </tr>
            }
            @if (outflowsSummary$) {
                <tr class="sales-list__tr outflows">
                    <th scope="row">Salidas: ${{outflowsSummary$}}</th>
                </tr>
            }
            <tr class="sales-list__tr neto">
                <th scope="row">Total Neto: ${{totalNeto$}}</th>
            </tr>
        </tfoot>
    </table>
</div>