@use '../../partials/variables' as v;

.nav-bar {
    background-color: v.$background-color;
    position: fixed;
    width: 100vw;
    // height: 11vh;
    bottom: 0;
    border-top: 1px solid v.$secondary-color;

    ul,
    li {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    ul {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: space-around;
    }

    li {
        display: inline-flex;
    }

    a {
        background: transparent;
        border: none;
        border-radius: 10px;
        padding: 10px 15px;
        cursor: pointer;
        margin: 10px;
        border: 2px solid v.$secondary-color;

        .hidden-text {
            visibility: hidden;
            position: absolute;
        }

        i {
            color: #fff;
            font-size: 1.5rem;
            // border: 10px;
        }

        &:hover {
            background-color: v.$secondary-color;
        }
    }
}

@media (min-width: 700px) {
    .nav-bar {
        a {
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .hidden-text {
                visibility: visible;
                position: relative;
                color: v.$text-color;
                text-decoration: none;
                margin: 0px;
                margin-left: 10px;
                text-align: center;
            }
        }
    }
}