<nav class="nav-bar">
    <ul>
        <li>
            <a routerLink="/home-page" routerLinkActive="active" ariaCurrentWhenActive="page">
                <i class="bi bi-shop-window"></i>
                <p class="hidden-text">Pagina Principal</p>
            </a>
        </li>
        <li>
            <a routerLink="/sales-summary" routerLinkActive="active" ariaCurrentWhenActive="page">
                <i class="bi bi-clipboard2"></i>
                <p class="hidden-text">Historial de Ventas</p>
            </a>
        </li>
    </ul>
</nav>