@use '../../partials/variables' as v;

.principal-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    // overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 95px;
}

.filters {
    width: 90%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: v.$primary-color;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;

    &__filter {
        padding: 5px;
        margin: 0px;
        width: 40%;
        background-color: v.$secondary-color;
        color: v.$text-color;
        font-size: 15px;
        border-radius: 20px;
        border-color: v.$text-color;
        text-align: center;
    }
}

.sales-list {
    width: 90%;
    background-color: v.$primary-color;
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
    padding: 15px;
    border-collapse: separate;
    border: 2px solid v.$secondary-color;

    &__head {
        font-size: 20px;
        height: 50px;
    }

    &__total {
        font-size: 35px;
        padding: 10px;
        background-color: v.$secondary-color;

        th {
            padding: 10px;
        }
    }

    &__time {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;
        padding: 10px;
        border-top: 2px solid v.$secondary-color;

        button {
            height: 50px;
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px;
            text-align: center;
            background-color: v.$red-color;
            border: 2px solid v.$red-color;
            transition: background-color .5s ease;

            &:hover {
                background-color: v.$primary-color;

            }

            i {
                font-size: 2rem;
                color: v.$text-color;
            }
        }
    }

    &__price {
        background: v.$secondary-color;
        padding: 15px;
        font-size: 20px;
        font-weight: 500;
        border-bottom: 2px solid v.$primary-color;
    }

    &__sales {
        background: v.$secondary-color;
        padding: 15px;
        font-size: 20px;
        font-weight: 500;
        border-bottom: 2px solid v.$primary-color;
        border-right: 2px solid v.$primary-color;
    }

    &__tr {
        font-size: 18px;
        background-color: v.$secondary-color;

        th {
            border-top: 2px solid v.$primary-color;
            padding: 5px;
        }

        &.outflows {
            background-color: v.$red-color;
        }

        &.trusted {
            background-color: v.$yellow-color;
        }

        &.transfer {
            background-color: v.$blue-color;
        }
    }
}

.no-results-msg {
    width: 90%;
    font-size: 30px;
    color: v.$text-color;
    background-color: v.$primary-color;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}

@media (min-width: 700px) {
    .sales-list, .filters, .no-results-msg {
        width: 70%;
    }
}

@media (min-width: 1200px) {
    .sales-list, .filters, .no-results-msg {
        width: 60%;
    }
}