<div class="modal" [@fadeInOut]="modalClass ? 'visible' : 'hidden'">
    <div class="modal__card" >
        <h1 class="modal__card-text">Nueva Venta</h1>
        <div class="modal__card-total">
            <h2 class="total" #total>Total:</h2>
            <input type="number" [(ngModel)]="totalPrice" #newNum>
        </div>
        <fieldset class="modal__card-radio">
            <!-- <legend>Metodo de Pago</legend> -->
            <div>
                <input type="radio" [(ngModel)]="paymentValue" id="cash" name="pay" value="cash" checked>
                <label for="cash" class="h5">Efectivo</label>
            </div>
            <div>
                <input type="radio" [(ngModel)]="paymentValue" id="transfer" name="pay" value="transfer">
                <label for="transfer" class="h5">Transferencia</label>
            </div>
            <div>
                <input type="radio" [(ngModel)]="paymentValue" id="outflow" name="pay" value="outflow">
                <label for="outflow" class="h5">Salida</label>
            </div>
        </fieldset>
        <!-- <p>{{paymentValue}}</p> -->
        <div class="modal__card-btns">
            <button class="cancel" (click)="changeClass()">Cancelar</button>
            <button class="accept" (click)="addTotals(+newNum.value)">Aceptar</button>
        </div>
    </div>
</div>
 
<div class="modal" [@fadeInOut]="modalClassEndDay ? 'visible' : 'hidden'">
    <div class="modal__card modal__end-day">
        <h1 class="modal__card-text">Terminar el Dia</h1>
        <div class="modal__card-total">
            <p>
                Presionar "Aceptar" finalizara el dia y por lo tanto
                los datos individuales de las ventas seran eliminados y
                el total sera guardado dentro de los datos del dia.
            </p>
        </div>

        <div class="modal__card-btns">
            <button class="cancel" (click)="changeClassEndDay()">Cancelar</button>
            <button class="accept" (click)="endDay()">Aceptar</button>
        </div>
    </div>
</div>

<div class="fixed-btns">
    <!-- Crear un modar de advertencia para que el usuario no elimine los 
    datos por accidente -->
    <button [ngClass]="endBtn" (click)="changeClassEndDay()">
        <i class="bi bi-calendar-check"></i>
        <p>Terminar el Dia</p>
    </button>

    <button [ngClass]="salesBtn" class="sales-btn" (click)="changeClass()">
        <i class="bi bi-plus-lg"></i>
    </button>
</div>