<div [ngClass]="modalChange">
    <div class="modal__card">
        <h1 class="modal__card-text">Nueva Venta</h1>
        <div class="modal__card-total">
            <h2 class="total" #total>Total:</h2>
            <input type="number" [(ngModel)]="totalPrice" #newNum>
        </div>

        <div class="modal__card-btns">
            <button class="cancel" (click)="changeClass()">Cancelar</button>
            <button class="accept" (click)="addTotals(+newNum.value)">Aceptar</button>
        </div>
    </div>
</div>

<div class="fixed-btns">
    <!-- Crear un modar de advertencia para que el usuario no elimine los 
    datos por accidente -->
    <button class="end-btn" (click)="endDay()">
        <i class="bi bi-calendar-check"></i>
        <p>Terminar el Dia</p>
    </button>

    <button [ngClass]="salesBtn" class="sales-btn" (click)="changeClass()">
        <i class="bi bi-plus-lg"></i>
    </button>
</div>